In [1]:
# Mount with Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/content/gdrive/Shareddrives/CSC522 Project/Data/Netflix_with_IMDB_with_customerIDcsv.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,9,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22996094 entries, 0 to 22996093
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   Actor1              object
 1   Actor2              object
 2   Actor3              object
 3   Country             object
 4   Customer Id         int64
 5   Director1           object
 6   Director2           object
 7   Genre1              object
 8   Genre2              object
 9   Genre3              object
 10  Language            object
 11  Movie Id            int64
 12  Movie ID            int64
 13  Production Company  object
 14  Title               object
 15  Writer1             object
 16  Writer2             object
 17  Year Of Release     int64
 18  Duration            int64
 19  Rating              int64
dtypes: int64(6), object(14)
memory usage: 3.4+ GB
None

In [5]:
print(df.head())

    Actor1       Actor2         Actor3  ... Year Of Release  Duration Rating
0  Ja Rule  Tim Meadows  Jenifer Lewis  ...            2004        97      1
1  Ja Rule  Tim Meadows  Jenifer Lewis  ...            2004        97      1
2  Ja Rule  Tim Meadows  Jenifer Lewis  ...            2004        97      1
3  Ja Rule  Tim Meadows  Jenifer Lewis  ...            2004        97      1
4  Ja Rule  Tim Meadows  Jenifer Lewis  ...            2004        97      1

[5 rows x 20 columns]

In [6]:
unique_ID = df['Customer Id'].unique()
unique_ID

array([ 966140, 2439493,  247932, ...,  932790, 2623640, 1448165])

In [7]:
  training = []
  testing = []
  condition = df['Customer Id']==966140
  filtered_df = df[condition]
  new_df = filtered_df.reset_index()
  id_len = len(new_df)
  data_len = int(id_len * 0.5)
  training_id = new_df.loc[:data_len]
  testing_id = new_df.loc[data_len+1:]
  training.append(training_id)
  testing.append(testing_id)
  training_data = pd.concat(training)
  testing_data = pd.concat(testing)

In [ ]:
count = 0
training = []
testing = []
for id in unique_ID:
  condition = df['Customer Id']==id
  filtered_df = df[condition]
  new_df = filtered_df.reset_index()
  id_len = len(new_df)
  data_len = int(id_len * 0.5)
  training_id = new_df.loc[:data_len]
  testing_id = new_df.loc[data_len+1:]
  training.append(training_id)
  testing.append(testing_id)
  count+=1
  if count%5000 == 0:
    print('Process {0:d} times'.format(count))
training_data = pd.concat(training, ignore_index=True)
testing_data = pd.concat(testing, ignore_index=True)

Process 5000 times
Process 10000 times
Process 15000 times
Process 20000 times
Process 25000 times
Process 30000 times
Process 35000 times
Process 40000 times
Process 45000 times
Process 50000 times
Process 55000 times
Process 60000 times
Process 65000 times
Process 70000 times
Process 75000 times
Process 80000 times
Process 85000 times
Process 90000 times
Process 95000 times
Process 100000 times
Process 105000 times
Process 110000 times

In [ ]:
len(training_data)

In [ ]:
len(testing_data)

In [ ]:
training_data.to_csv('traing_data.csv', index=False)
testing_data.to_csv('testing_data.csv', index=False)